# dependencies
/MAPS/node_modules
/SHORTING/node_modules


# production
# /build

/MAPS/npm-debug.log*
/MAPS/yarn-debug.log*
/MAPS/yarn-error.log*

/MAPS/.env

/MAPS/yarn.lock
/MAPS/package-lock.json
/SHORTING/package-lock.json
/MAPS/.cache